// Здесь можно изменить свойства обьектов


//          //
//  HEADER  //
//          //


//титульная слова в углу 
$title_color: #c9be2d; //цвет
$title_size: 40px; // размер титла
$title_font: 'GreatVibe'; //шрифт титла

// гамбургер меню
$gam_color: #e0b423; //цвет полоски
$gam_height: 4px; // ширина полосок
$gam_width: 35px; //длина полосок

// главный титл
$main_t_color: #fff; //цвет
$main_t_size: 9vw; //размер
$main_t_font: 'BreeSerifRegular'; //шрифт

//параграф титла
$phar_color: #fff; //цвет
$phar_size: 27px; //размер
$phar_font: 'BreeSerifRegular'; // шрифт

//кнопка to book
$btn_bground: #fde910; //цвет фона
$btn_color: #000; // цвет текста

//связь с нами
$support_bground: #fde910; //цвет фона
$number_color: #000; //цвет номера


//          //
//  BODY    //
//          //


//артикль
$color_bg: #1a1a1a; //фон артикля

//статистика

$stat__bg_color: rgb(255, 238, 0); // цвет блоков
$amounts_color: rgb(0, 0, 0); //цвет цифр
$line_color: rgb(0, 0, 0); //цвет линии

//тег DISHES

$color__title_dishes: #f5f5dc; //цвет тега

//блоки DISHES

$bg_pizza_block: #ffd700; //цвет фона pizza
$title_pizza: #000; //цвет надпися pizza

//текст блоков DISHES

$size_txt_pizza: 30px; //размер текста
$color_txt_pizza: #fff; //цвет текста